body {
    background-color: #A885EE;
    height: 100%;
    font-family: 'tradegothiclt-bold', sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 5em;
    color: white;
    text-transform: uppercase;
    bottom: 10px;
  }

  img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 35%;
  }
  
  .button {
    border: none;
    color:#A885EE;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
    font-family: Gaegu;
    border-radius: 4px;
    box-shadow: 0 9px #67D0DD;
    
  }
  
  .button:active {
    background-color: #e0d378;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button1 {background-color: #f6E785;}
  .button1:hover {background-color: #e0d378}

  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }